{% extends 'main.html' %}
{% load bootstrap %}

{% block title %} MOVIE LIST {% endblock %}
{% block site %}
    {% if user.is_authenticated %}
        Username: {{ user.username }}
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a>
    {% endif %}

    <hr>
    <h1>Welcome!</h1>
    <p>Adding new movie</p>
    <a href="{% url 'add_new_movie' %}">Add</a>
    {% if movies|length == 0 %}
        <h2>There is no movies</h2>
    {% else %}
        <h2>There are {{ movies|length }} movies:</h2>

        {% for movie in movies %}
            <h3>{{ movie.id }}. {{ movie }}</h3>
            <p>{{ movie.description }}</p>
            <p>
                <img src="/media/{{ movie.poster }}" class="movie-poster">
            </p>
            <p>
                <a href="{% url 'update_movie' movie.id %}">Edit</a>
                <a href="{% url 'remove_movie' movie.id %}">Delete</a>
            </p>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}