{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'new.css' %}">
</head>
<body>
    {% if movies|length == 0 %}
        <h2>There is no movies</h2>
    {% else %}
        <h1>Welcome!</h1>
        <p>Adding new movie</p>
        <a href="{% url 'add_new_movie' %}">Add</a>
        <h2>There are {{ movies|length }} movies:</h2>

        {% for movie in movies %}
            <h3>{{ movie }}</h3>
            <p>{{ movie.description }}</p>
            <a href="{% url 'update_movie' movie.id %}">Edit</a>
            <a href="{% url 'remove_movie' movie.id %}">Delete</a>
        {% endfor %}
    {% endif %}
</body>
</html>